{% extends "MlServiceBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Service - Add - Carpooling
{% endblock %}
	
{% block service_body %}

	{% if form is defined %}
		<table class="table">
			<tr>
				<td>
					<div class="well">
						<form method="post" class="Carpooling" {{ form_enctype(form) }}>
							<h3 id = "title_form"><b>Carpooling form</b></h3>
							{{ form_widget(form) }}
							<input type="submit" class="btn btn-primary" id="form_validatation" />
						</form>
					</div>
				</td>
				
			</tr>
		</table>
	{% endif %}

{% endblock %}