{% extends "::layout.html.twig" %}

{% block shell %}
	<div class="container">
		<div class="row">
			<div id="content">
				{% block body %}
				{% endblock %}
			</div>
		</div>
		
		<footer class = "row">
			<div align = "center" class = "well">
				<p><button style="margin-right: 5px" class="btn btn-small"><a href="{{ path('ml_user_homepage') }}">A propos</a></button>
				<button style="margin-right: 5px" class="btn btn-small"><a href="{{ path('ml_user_homepage') }}">Contacts</a></button>
				<button style="margin-right: 5px" class="btn btn-small"><a href="{{ path('ml_user_homepage') }}">Développeurs</a></button>
				<button class="btn btn-small"><a href="{{ path('ml_user_homepage') }}">Aide</a></button></p>
				<p><h5><i style="margin-right: 5px" class="icon-hand-right"></i>Web Social Pour Monnaie Libre<i style="margin-left: 5px" class="icon-hand-left"></i></h5></p>
			</div>
		</footer>
	</div>
{% endblock %}
