{% extends "MlUserBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - New user account
{% endblock %}
	
{% block user_body %}

<h2>Create a new user account</h2>

{{ form }}

{% endblock %}
