{% extends "MlUserBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Utilisateur - Ajout
{% endblock %}
	
{% block user_body %}

	{% if erreur is defined %}
		<h5 style="color:red">{{ erreur }}</h5>
	{% endif %}

	{% if form is defined %}
		<table class="table">
			<tr>
				<td>
					<div class="well">
						<form method="post" class="User" {{ form_enctype(form) }}>
							<h3 id = "titre_formulaire"><b>Formulaire d'inscription</b></h3>
							{{ form_widget(form) }}
							<input type="submit" class="btn btn-primary" id="form_validatation" />
						</form>
					</div>
				</td>
				
			</tr>
		</table>
	{% endif %}

{% endblock %}
